/*Selector Universal*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*Mapping de Variables*/

$colores: ("color1":#000814,
    "color2":#003566,
    "color3":#457b9d,
    "color4":#f1faee,
);

/*Declaración de Extend*/

%fuente {
    justify-content: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Declaración de Mixing*/

@mixin section {
    height: fit-content;
    width: 100%;
    padding-top: 150px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 150px;
    display: grid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row wrap;
    align-items: flex-start;
    background-color: map-get($colores, color1);
}

/*HEADER*************************************************************************************************************************************************************************/

.jumbotron {
    background-color: map-get($colores, "color3");
    padding: 20px;
    margin: 0;
    height: fit-content !important;

    nav {
        background-color: map-get($colores, color3);

        .navbar {
            background-color: map-get($colores, color3) !important;
            font-size: 15px;
            justify-content: center;
        }

        .nav-link {
            color: map-get($colores, color4);
            word-spacing: normal;

            &:hover {
                color: map-get($colores, color1);
            }
        }
    }

    html {
        scroll-behavior: smooth;
    }

    .encabezado {
        background-color: map-get($colores, color4);
        ;
        height: fit-content;
        padding-top: 0;
        color: map-get($colores, color4);
        font-weight: bold;

        .encabezado span {
            color: map-get($colores, color3);
            font-weight: bold;
        }
    }

    header {
        height: fit-content;
        width: 100%;
        padding: 10px;
        background-color: map-get($colores, color3);
        font-size: 30px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: fixed;
        z-index: 1;
    }
}

/*HOME*************************************************************************************************************************************************************************/

section {
    @include section;

    .slogan {
        margin: 0;
        padding-top: 250px;
        padding-right: 50px;
        padding-left: 50px;
        padding-bottom: 10px;
        width: 100%;
        background-color: map-get($colores, color1);
        @extend %fuente;
        font-size: 40px;
        font-weight: bold;
    }


    h1 {
        /*Color de los inicios de pagina*/
        height: fit-content;
        background-color: map-get($colores, color1);
        @extend %fuente;
        font-size: 40px;
        font-weight: bold;
    }

    h2 {
        margin: 0;
        height: fit-content;
        padding-top: 225px !important;
        background-color: map-get($colores, color1);
        animation-fill-mode: inherit;
        @extend %fuente;
        font-size: 30px;
        font-weight: bold;
    }

    .img {
        background-color: map-get($colores, color1);
        padding-top: 100px;
        padding-right: 100px;
        padding-bottom: 200px;
        padding-left: 100px;
        text-align: center;
    }
}

/*QUIENES SOMOS*************************************************************************************************************************************************************************/

.sec1 {
    @include section();
    padding-top: 125px;
    padding-right: 75px;
    padding-bottom: 150px;
    padding-left: 100px;
    background-position: center;


    .quienessomos_p {
        padding-left: 50px;
        padding-right: 0px !important;
        padding-bottom: 150px;
        width: 100%;
        background-color: map-get($colores, color1);
        display: grid;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        @extend %fuente;
        text-align: justify;
        font-size: 15px;
    }

    .nleft {
        background-image: url(imagenes/depositphotos_58729343-stock-photo-smiling-young-black-woman-working.jpg);
        background-size: auto;
        background-repeat: no-repeat;
        background-color: map-get($colores, color1);
        background-position: center;
    }

}

/*COMO FUNCIONA*************************************************************************************************************************************************************************/

.sec2 {
    @include section();
    padding-top: 125px;
    padding-right: 100px;
    padding-bottom: 150px;
    padding-left: 100px;


    iframe {
        padding-right: 100px;
        padding-bottom: 0px;
        padding-left: 100px;
        width: 100%;
    }

    .comofunciona_p {
        padding-top: 25px;
        padding-right: 100px;
        padding-bottom: 100px;
        background-color: map-get($colores, color1);
        @extend %fuente;
        text-align: justify;
        font-weight: lighter;
        font-size: 15px
    }
}

/*NUESTROS CLIENTES*************************************************************************************************************************************************************************/

.sec3 {
    @include section();
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 125px;
    padding-left: 100px;

    .nuestrosclientes_p {
        padding: 25px;
        @extend %fuente;
        text-align: justify;
        font-size: 15px;
        font-weight: lighter;

        .nuestrosclientes_nombre {
            padding-top: 50px;
            padding-bottom: 150px;
            @extend %fuente;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            font-weight: lighter;
        }
    }
}

/*CONTACTO*************************************************************************************************************************************************************************/

.sec4 {
    @include section();
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 100px;

    .subtitle {
        margin: 0;
        padding-top: 125px;
        padding-right: 50px;
        padding-left: 50px;
        background-color: map-get($colores, color1);
        @extend %fuente;
        font-size: 20px;
        font-weight: lighter;
    }

    .form {
        padding: 25px;
        padding-left: 200px !important; 
        padding-right: 200px !important;
        border: 10px;
        border-radius: 5px;
        height: fit-content;
        float: left;
        width: 0;
        background-color: map-get($colores, color3);
        @extend %fuente;
        text-align: center;
        font-size: 15px;
        font-weight: lighter;

        input{
            width: 100%;
        }
        
        label{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 18px;
            font-weight: lighter; 
        }

        textarea::placeholder {
            font-size: 12px;
            font-weight: lighter;
        }
    }
}

/*FOOTER*************************************************************************************************************************************************************************/

footer {
    padding: 20px;
    height: fit-content;
    width: 100%;
    background-color: map-get($colores, color3);
    @extend %fuente;
    font-size: 15px;
    font-weight: lighter;

    footer i {
        color: map-get($colores, color2);
        font-size: 50px;
        word-spacing: 10px;
        letter-spacing: 20px;
        text-align: center;
    }

    footer p {
        margin-bottom: 20px;
        color: map-get($colores, color4);
        @extend %fuente;
        font-weight: bold;
        font-size: 10px;
    }

    .subir {
        height: 50px;
        width: 50px;
        position: fixed;
        bottom: 40px;
        right: 40px;
        border-radius: 50%;
        box-shadow: 0 0 10px map-get($colores, color4);
        line-height: 40px;
        background-color: map-get($colores, color3);
        text-align: center;
        font-size: 25px;
    }

    i {
        padding-top: 5px;
        color: map-get($colores, color1);
        text-align: center;
    }

    hr {
        border-style: groove;
        color: map-get($colores, color2);
        background-color: map-get($colores, color1);
    }
}

/*MEDIA QUERYS*************************************************************************************************************************************************************************/

@media screen and (min-width:1440px) {

    h1 {
        padding-top: 100px;
    }

    img {
        padding-top: 100px;
        padding-right: 100px;
        padding-bottom: 0px;
        padding-left: 100px;
        background-color: #000814;

    }

    .nuestrosclientes_nombre {
        padding-bottom: 300px;
    }

    .quienessomos {
        padding-bottom: 375px;
    }
}


@media screen and (min-width:1024px) and (max-width:1439px) {

    .img {
        padding-top: 100px;
        padding-right: 100px;
        padding-bottom: 200px;
        padding-left: 100px;
    }

    h2 {
        padding-top: 175px !important;
    }

    /**************************************************************************************************************************************************************************/

    .sec1 {
        padding-top: 100px;
        padding-right: 100px;
        padding-bottom: 150px;
        padding-left: 100px;
    }

    .quienessomos {
        padding-bottom: 350px;
    }

    /**************************************************************************************************************************************************************************/

    .sec2 {
        padding-top: 100px;
        padding-right: 100px;
        padding-bottom: 200px;
        padding-left: 100px;
    }

    .comofunciona_p {
        padding-bottom: 50px;
    }

    iframe {
        padding-top: 0px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 0px;
    }

    /**************************************************************************************************************************************************************************/

    .sec3 {
        padding-top: 100px;
        padding-right: 100px;
        padding-bottom: 150px;
        padding-left: 100px;
    }

    .nuestrosclientes_p {
        padding-top: 0px;
    }

    .nuestrosclientes_nombre {
        font-size: 10px;
    }

    /**************************************************************************************************************************************************************************/

    .sec4 {
        padding-top: 50px;
        padding-right: 100px;
        padding-bottom: 150px;
        padding-left: 100px;
    }

    .subtitle {
        padding-top: 100px;
        padding-bottom: 0px;
    }

    .form {
        padding: 15px;
        font-size: 12px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {

    /**************************************************************************************************************************************************************************/

    h1 {
        font-size: 35px;
        height: fit-content;
    }

    .slogan {
        padding-top: 175px;
    }

    h2 {
        padding-top: 175px !important;
        padding-bottom: 0px;
        font-size: 30px;
    }

    .img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: #000814;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 100px;
        padding-right: 100px;
    }

    /**************************************************************************************************************************************************************************/

    .sec1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 50px;
        padding-right: 75px;
        padding-bottom: 100px;
        padding-left: 75px;
    }

    .quienessomos {
        font-size: 15px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0px;
        padding-top: 0;
    }

    .quienessomos_p {
        padding-top: 0px;
    }

    /**************************************************************************************************************************************************************************/

    .sec2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 75px;
        padding-right: 75px;
        padding-bottom: 50px;
        padding-left: 75px;
    }

    .comofunciona_p {
        font-size: 15px;
        padding-top: 25px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 25px;
    }

    iframe {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 300px;
    }

    /**************************************************************************************************************************************************************************/

    .sec3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 75px;
        padding-right: 75px;
        padding-bottom: 100px;
        padding-left: 75px;
    }

    .nuestrosclientes_nombre {
        font-size: 12px;
        padding-bottom: 200px;
    }

    .nuestrosclientes_p {
        font-size: 15px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 50px;
        margin: 0;
    }

    /**************************************************************************************************************************************************************************/

    .sec4 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 75px;
        padding-right: 100px;
        padding-bottom: 75px;
        padding-left: 75px;
    }

    .subtitle {
        padding-top: 75px;
    }

    .form {
        font-size: 10px;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: bold;
        border: 10px;
        border-radius: 5px;
    }
}

@media screen and (min-width:320px) and (max-width:767px) {

/**************************************************************************************************************************************************************************/

    .jumbotron {
        height: fit-content;
        width: fit-content !important;
        padding: 10px;
        font-size: 30px;
        text-align: center;
        position: fixed;
    }

    .navbar {
        min-height: 0;
        padding: 0;
    }

    .nav-link {
        padding: 2px;
    }

    .slogan {
        display: flex;
        padding-top: 250px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 175px;
        height: fit-content;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-size: 25px;
    }

    .encabezado {
        font-size: 30px;
    }

    .img {
        display: none;
    }

    h2 {
        padding-top: 275px !important;
        padding-bottom: 0px;
        font-size: 18px;
    }

/**************************************************************************************************************************************************************************/

    .sec1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 50px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 75px;
    }

    .quienessomos {
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 25px;
        font-size: 12px;
    }

/**************************************************************************************************************************************************************************/

    .sec2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 50px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 75px;
    }

    .comofunciona_p {
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 25px;
        font-size: 12px;
    }

    iframe {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 25px;
        padding-bottom: 0px;
        height: 210px;
    }

/**************************************************************************************************************************************************************************/

    .sec3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 50px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 75px;
    }

    .nuestrosclientes_p {
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 25px;
        font-size: 12px;
        text-align: justify;
    }

    .nuestrosclientes_nombre {
        font-size: 8px;
        padding-bottom: 100px;
    }

/**************************************************************************************************************************************************************************/

    .sec4 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 50px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 75px;
    }

    .subtitle {
        padding-top: 50px;
        font-size: 18px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;

    }

    .form {
        font-size: 10px;
        text-align: left;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
        height: fit-content;
        width: fit-content;
    }
}

/**************************************************************************************************************************************************************************/