* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*Titulos: 30px
subtitulos: 25px
texto: 20px
texto chico: 10 o 15px*/
html {
    scroll-behavior: smooth;
}

header {
    height: fit-content;
    width: 100%;
    background-color: #457b9d;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
}

.logo {
    float: Center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #003566;
    word-spacing: none;
    font-weight: bold;
}


.slogan {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1d3557;
    width: 100%;
    text-align: center;
    background-color: #000814;
    color: #f1faee;
    padding-top: 150px;
    padding-right: 100px;
    padding-left: 100px;


}


.logo span {
    color: #f1faee;
    word-spacing: none;
    font-weight: bold;
}

.nav1 {
    float: center;
}

.nav1 ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.nav1 a {
    text-decoration: none;
    color: beige;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

.nav1 a:hover {
    color: #000814;

}

main {
    width: 100%;
    background-color: #000814;
    background-image: url();
    background-size: cover;
    background-position: center;

}

.call h1 {
    color: #f1faee;
    margin-bottom: 20px;
    text-align: center;
    font-weight: lighter;
    font-size: 15px;


}

.call p {
    margin-top: 40px;
    text-align: justify;
}

.call a {
    background-color: #000814;
    height: 40px;
    width: 80px;
    padding: 10px 20px;
    border-radius: 5px;


}

h1 {
    /*Color de los inicios de pagina*/
    text-align: center;
    background-color: #000814e9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #f1faee;
    font-weight: bold;
    height: fit-content;
    background-color: #000814;




}

h2 {
    text-align: center;
    background-color: #000814e9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #f1faee;
    font-weight: bold;
    height: fit-content;
    background-color: #000814;
    padding-top: 150px;
    animation-duration: 2s;
    animation-delay: 5s;
    animation-iteration-count: 0;


}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

section {
    height: fit-content;
    width: 100%;
    padding-top: 150px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 150px;
    background-color: #000814;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    display: grid;
}

.img {
    background-color: #000814;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 200px;
    padding-left: 100px;
    text-align: center;
}

.sec1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row wrap;
    align-items: flex-start;
    background-color: #000814;
    background-position: center;
    padding-top: 150px;
    padding-right: 100px;
    padding-bottom: 150px;
    padding-left: 100px;
    display: grid;


}



.quienessomos {

    display: flex;
    flex-direction: column;
    align-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 150px;
    color: #f1faee;
    font-weight: lighter;
    background-color: #000814;
    width: 100%;
    display: grid;

}

.sec1 p {
    padding-top: 25px;
}

.sec2 {
    background-color: #000814;
    padding-top: 150px;
    padding-right: 100px;
    padding-bottom: 150px;
    padding-left: 100px;
    display: grid;
}

iframe {
    padding-right: 150px;
    padding-bottom: 0px;
    padding-left: 150px;
    width: 100%;

}

.comofunciona_p {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-right: 100px;
    padding-left: 100px;
    text-align: justify;
    color: #f1faee;
    font-weight: lighter;
    background-color: #00081407;
    float: left;
    width: 100%;
}

.sec3 {

    background-color: #000814;
    padding-top: 150px;
    padding-right: 100px;
    padding-bottom: 125px;
    padding-left: 100px;
    display: grid;



}

.sec4{
    padding-top: 150px;
    padding-right: 100px;
    padding-bottom: 150px;
    padding-left: 100px;
    display: grid;
}

.nuestrosclientes_p {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: justify;
    padding: 100px;
    color: #f1faee;
    font-weight: lighter;
    float: none;
}

.nuestrosclientes_nombre {
    padding-bottom: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #f1faee;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.sec4 {

    background-color: #000814;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 100px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 100px;
    display: grid;

}

.subtitle {
    text-align: center;
    background-color: #000814;
    color: #f1faee;
    padding-top: 100px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: lighter;

}

.h2 #sec4 {
    padding-top: 0px;

}

.form {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #f1faee;
    font-weight: bold;
    float: center;
    background-color: #457b9d17;
    border: 10px;
    border-radius: 5px;
    height: fit-content;
    float: left;
    width: fit-content;

}

.name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 100;
}

.type {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 100;
}


footer {
    height: fit-content;
    width: 100%;
    background-color: #457b9d;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer i {
    font-size: 50px;
    color: #003566;
    letter-spacing: 20px;
    text-align: center;
    word-spacing: 10px;

}

footer p {
    margin-bottom: 20px;
    color: #f1faee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 10px;
    text-align: center;

}

.subir {
    height: 50px;
    width: 50px;
    background-color: #457b9d;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    border-radius: 50%;
    box-shadow: 0 0 10px #f1faee;


}

i {
    padding-top: 5px;
    color: #000814;
    text-align: center;
}

hr {
    border-style: groove;
    color: #003566;
    background-color: #000814;
}

@media screen and (min-width:1440px) {
    
    h1{
        padding-top: 100px;
    }
    
    img {
        padding-top: 100px;
        padding-right: 100px;
        padding-bottom: 0px;
        padding-left: 100px;
        background-color: #000814;

}

.nuestrosclientes_nombre{
    padding-bottom: 300px;
}

.quienessomos {
    padding-bottom: 375px;
}


}


@media screen and (min-width:1024px) and (max-width:1439px){
    
    .img {
        padding-top: 100px;
        padding-right: 100px;
        padding-bottom: 200px;
        padding-left: 100px;
    }

    h2{
        padding-top: 150px;
    }

/**************************************************************************************************************************************************************************/

    .sec1 {
        padding-top: 100px;
        padding-right: 100px;
        padding-bottom: 150px;
        padding-left: 100px;
    }

    .quienessomos {
        padding-bottom: 350px;
    }
    
/**************************************************************************************************************************************************************************/

    .sec2{
        padding-top: 100px;
        padding-right: 100px;
        padding-bottom: 150px;
        padding-left: 100px;
    }

    .comofunciona_p {
        padding-bottom: 50px;
    }
    
    iframe{
        padding-top: px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 0px;
    }

/**************************************************************************************************************************************************************************/

    .sec3{
        padding-top: 100px;
        padding-right: 100px;
        padding-bottom: 150px;
        padding-left: 100px;
}
    .nuestrosclientes_nombre{
    font-size: 10px;
}

/**************************************************************************************************************************************************************************/

    .sec4{
        padding-top: 50px;
        padding-right: 100px;
        padding-bottom: 150px;
        padding-left: 100px;
    }
    .subtitle{
        padding-bottom: 0px;
    }
    .form{
        padding-top: 25px;
    }
    }

@media screen and (min-width:768px) and (max-width:1023px) {

        /**************************************************************************************************************************************************************************/
    
    h1 {
        font-size: 35px;
        height: fit-content;
    }


    h2 {
        padding-top: 150px;
        padding-bottom: 0px;
        font-size: 30px;
    }

    
    .img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: #000814;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 100px;
        padding-right: 100px;
    }

        /**************************************************************************************************************************************************************************/
    
    .sec1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 100px;
        padding-right: 75px;
        padding-bottom: 100px;
        padding-left: 75px;
    }

    .quienessomos {
        font-size: 20px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0px;
    }
    
        /**************************************************************************************************************************************************************************/
    
     
    .sec2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 100px;
        padding-right: 75px;
        padding-bottom: 50px;
        padding-left: 75px;
    }

    .comofunciona_p {
        font-size: 20px;
        padding-top: 50px;
        padding-left: 0px;
        padding-right: 0px;
    }

    iframe{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 300px;
    }
        /**************************************************************************************************************************************************************************/  

    .sec3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 100px;
        padding-right: 75px;
        padding-bottom: 100px;
        padding-left: 75px;
    }

    .nuestrosclientes_nombre {
        font-size: 10px;
        padding-bottom: 200px;
    }

    .nuestrosclientes_p {
        font-size: 20px;
        padding-left: 0;
        padding-right: 0;
    }

        /**************************************************************************************************************************************************************************/   
   
    .sec4 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 75px;
        padding-right: 100px;
        padding-bottom: 75px;
        padding-left: 75px;
    }


    .form {
        font-size: 15px;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: bold;
        border: 10px;
        border-radius: 5px;

    }
    
    }

@media screen and (min-width:320px) and (max-width:767px) {
    
        /**************************************************************************************************************************************************************************/    
    
    header {
        width: 100%;
        height: fit-content;
        padding: 5px;
        font-size: 30px;
        text-align: center;
        position: fixed;
    }

    .slogan{
        display: flex;
        padding-top: 350px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 250px;
        height: fit-content;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    h1 {
        font-size: 20px;
        width: 100%;
        align-items: center;
        height: fit-content;
        padding-bottom: 0px;

    }

    .img{
        display: none;
    }

    h2{
        padding-top: 150px;
        padding-bottom: 0px;
        font-size: 18px;
    }

        /**************************************************************************************************************************************************************************/    

    .sec1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 50px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 75px;
    }


    .quienessomos {
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 25px;
        font-size: 12px;
    }

        /**************************************************************************************************************************************************************************/

    .sec2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 50px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 75px;
    }
    .comofunciona_p {
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 25px;
        font-size: 12px;
    }
    iframe{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 25px;
        padding-bottom: 0px;
        height: 210px;
    }

        /**************************************************************************************************************************************************************************/

    .sec3{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 50px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 75px;
    }
    
    .nuestrosclientes_p {
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 25px;
        font-size: 12px;
        text-align: justify;
    }
    .nuestrosclientes_nombre{
        font-size: 8px;
        padding-bottom: 100px;
    }

        /**************************************************************************************************************************************************************************/

    .sec4{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 50px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 75px;
    }
    
    .subtitle{
        padding-top: 100px;
        font-size: 18px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;

    }

    .form {
        font-size: 12px;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: bold;
        height: fit-content;
        width: fit-content;
}

    /**************************************************************************************************************************************************************************/

    }
/*en cada bp los valores son:
padding top/bottom/left/right: 100/200px-
5px menos en cada titulo/subtitulo
5px menos en texto
en los h1/h2 padding de 25px-*/

/*Maniana hacer media query para 1024px en adelante, y pulir el codigo*/